<div class="home__container">
	<!-- bloco 1 -->
	<app-card
		gameCover="assets/ghost.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="assets/diablo.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/gtaV.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
	>
	</app-card>

	<!-- bloco 2  -->
	<app-card
		gameCover="assets/god-of-war-ragnarok.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 193,51"
	>
	</app-card>
	<app-card
		gameCover="assets/cod.jpeg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS4"
		gamePrice="R$ 274,99"
	>
	</app-card>
	<app-card
		gameCover="assets/spiderman-2.jpeg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/fifa-23.jpeg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
	>
	</app-card>
</div>

